bcrypt==5.0.0
cffi==2.0.0
cryptography==46.0.3
invoke==2.2.1
numpy==2.0.2
pandas==2.3.3
paramiko==4.0.0
pycparser==2.23
pynacl==1.6.2
pyqt5==5.15.9
pyqt5-qt5==5.15.2
pyqt5-sip==12.17.1
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
typing-extensions==4.15.0
tzdata==2025.3
